@using Microsoft.AspNetCore.Components;
@using Presentation.Areas.Client.Models.ProfileViewModels
@using GymManagementSystem.App.Interfaces
@using GymManagementSystem.App.Constants
@model ProfileViewModels
@{
    var extensionsAll = "jpeg, jpg, png";
    var extensions = extensionsAll.Split(",").Select(x => x.Trim()).ToArray();
    Layout = null;
}
@inject IMemberRepository memberService
@inject IUserService userService
@inject NavigationManager NavigationManager
@{

    void RedirectToPage(int id, string message)
    {
        string url = $"/new-page?id={id}&message={message}"; // append the parameters to the URL using the query string
        NavigationManager.NavigateTo(url);
    }

}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/BootstrapGym/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Rubik&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="~/BootstrapGym/lib/flaticon/font/flaticon.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/BootstrapGym/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/BootstrapGym/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/BootstrapGym/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Rubik&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="~\lib/flaticon/font/flaticon.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~\lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~\css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~\css/style.css" rel="stylesheet">
    <meta charset="utf-8">


    <title>edit profile account details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<style type="text/css">
    body {
        margin-top: 20px;
        background-color: #f2f6fc;
        color: #69707a;
    }

    .img-account-profile {
        height: 10rem;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }

        .card .card-header {
            font-weight: 500;
        }

    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }

    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }

    .form-control, .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }

    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
</style>

<body>
    <div class="container-xl px-4 mt-4">
        <div class="col-lg-3 bg-dark d-none d-lg-block">
            <a href="index.html" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                <h1 class="m-0 display-4 text-primary text-uppercase">Gymster</h1>
            </a>
        </div>
        <div class="col-lg-9">
            <div class="row gx-0 bg-secondary d-none d-lg-flex">
                <div class="col-lg-7 px-5 text-start">
                    <div class="h-100 d-inline-flex align-items-center py-2 me-4">
                        <i class="fa fa-envelope text-primary me-2"></i>
                        <h6 class="mb-0">PowerGym@gmail.com</h6>
                    </div>
                    <div class="h-100 d-inline-flex align-items-center py-2">
                        <i class="fa fa-phone-alt text-primary me-2"></i>
                        <h6 class="mb-0">+383 49 521 526</h6>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0 px-lg-5">
                <a href="index.html" class="navbar-brand d-block d-lg-none">
                    <h1 class="m-0 display-4 text-primary text-uppercase">Gymster</h1>
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="index.html" class="nav-item nav-link active">Home</a>
                        <a href="about.html" class="nav-item nav-link">About</a>
                        <a href="contact.html" class="nav-item nav-link">Contact</a>

                    </div>
                </div>
            </nav>
        </div>
        <nav class="nav nav-borders">
            <a class="nav-link active ms-0" href="https://www.bootdey.com/snippets/view/bs5-edit-profile-account-details" target="__blank">Profile</a>
            <input type="text" id="id" name="id" hidden/>
            <button style="background-color: #4CAF50; color: white; border: none; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; font-family: Arial, sans-serif; cursor: pointer;" onclick="window.location.href='@Url.Action("Membership", "Profile", new { id = Model.AntaresimiId })'">Membership</button>


        </nav>
        <hr class="mt-0 mb-4">
        <div class="row">
            <div class="col-xl-8">

                <div class="card mb-4">
                    <div class="card-header">Account Details</div>
                    <div class="card-body">
                        <form id="usersform" asp-action="Account" asp-controller="profile" asp-area="client" method="post">
                            <input type="hidden" asp-for="Id" />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>your name</label>
                                        <input type="text" asp-for="Name" class="form-control help-sidebar" data-title="user name" data-description="enter name" placeholder="enter name...">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>your surname</label>
                                        <input type="text" asp-for="Surname" class="form-control help-sidebar" data-title="user surname" data-description="enter surname " placeholder="enter surname...">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>your password</label>
                                        <input type="text" asp-for="Password" class="form-control help-sidebar" data-title="user password" data-description="enter password " placeholder="enter password...">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>your email</label>
                                        <input type="text" asp-for="Email" class="form-control help-sidebar" data-title="user email" data-description="enter email " placeholder="enter email...">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>your phone number</label>
                                        <input type="text" asp-for="PhoneNumber" class="form-control help-sidebar" data-title="user phonenumber" data-description="enter phonenumber " placeholder="enter phonenumber...">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <button type="submit" class="account-btn">save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" ></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/BootstrapGym/lib/easing/easing.min.js"></script>
    <script src="~/BootstrapGym/lib/waypoints/waypoints.min.js"></script>
    <script src="~/BootstrapGym/lib/counterup/counterup.min.js"></script>
    <script src="~/BootstrapGym/lib/owlcarousel/owl.carousel.min.js"></script>

    </script>
    @section scripts{
        <!-- jquery-validation -->
        <script src="~/theme/plugins/jquery-validation/jquery.validate.min.js"></script>
        <script src="~/theme/plugins/jquery-validation/additional-methods.min.js"></script>
        <script src="~/theme/plugins/fileinput/js/fileinput.min.js"></script>


        <script>
            $(document).ready(function () {

                if (localstorage.ishelpvisible == 'true') {
                    close();
                }
                else {
                    open();
                }

                $(window).scroll(function () {
                    $("#right-sidebar").css("margin-top", math.max(0, $(this).scrolltop() - 112));
                });
                var maxUpload = 3000;
                var uploadExtensions = @Html.Raw(Json.Serialize(extensions));

                $('#usersform').validate({
                    rules: {
                        Name: {
                            required: true,
                            minlength: 3,
                        },
                        Surname: {
                            required: true,
                            minlength: 3,
                        },
                        Email: {
                            required: true,
                            email: true,
                        },

                    },
                    messages: {
                        Name: {
                            required: "sharedlocalizer('fieldrequired')",
                            minlength: "sharedlocalizer('minlength3')"
                        },
                        Surname: {
                            required: "sharedlocalizer('fieldrequired')",
                            minlength: "sharedlocalizer('minlength3')"
                        },
                        Email: {
                            required: "sharedlocalizer('fieldrequired')",
                            email: "sharedlocalizer('emailinvalidformat')",
                        },

                    },
                    errorelement: 'span',
                    errorplacement: function (error, element) {
                        error.addclass('invalid-feedback');
                        element.closest('.form-group').append(error);
                    },
                    highlight: function (element, errorclass, validclass) {
                        $(element).addclass('is-invalid');
                    },
                    unhighlight: function (element, errorclass, validclass) {
                        $(element).removeclass('is-invalid');
                    },
                    submithandler: function (form) {
                        form.submit();
                    }
                });
        </script>
    }
</body>
</html>